<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.afollestad.polar">

	<!-- NOTE: you do NOT need to change the value of "package" above. -->

	<uses-permission android:name="android.permission.SET_WALLPAPER"/>
	<uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
	<uses-permission android:name="com.android.vending.BILLING"/>

	<application
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme.Light"
		android:vmSafeMode="true"
		tools:ignore="AllowBackup,GoogleAppIndexingWarning,RtlEnabled,UnusedAttribute">

		<meta-data
			android:name="com.afollestad.polar.util.GlideConfiguration"
			android:value="GlideModule"/>

		<service
			android:name=".services.PolarWallpaperSource"
			android:description="@string/muzei_description"
			android:exported="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			tools:ignore="ExportedService">
			<intent-filter>
				<action android:name="com.google.android.apps.muzei.api.MuzeiArtSource"/>
			</intent-filter>

			<meta-data
				android:name="color"
				android:value="@color/primary_1_light"/>
		</service>

        <!-- Replace AppTheme.SplashLight with AppTheme.SplashDark to use dark splash screen theme -->
        <activity
            android:name=".ui.SplashScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.SplashLight"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.INFO"/>
			</intent-filter>

			<!-- Makes the app available in the launcher's wallpaper chooser -->
			<intent-filter>
				<action android:name="android.intent.action.SET_WALLPAPER"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".viewer.ViewerActivity"
			android:label="@string/app_name_wallpaper"
			android:theme="@style/AppTheme.Viewer"/>

		<!-- TODO: Uncomment next 13 lines for Kustom. The <action />'s inside of <intent-filter> are optional, comment out what you don't need. -->
        <!--
        <provider
            android:name="org.kustom.api.Provider"
            android:authorities="${applicationId}.kustomprovider"
            android:exported="true"
            tools:ignore="ExportedContentProvider">
            <intent-filter>
                <action android:name="org.kustom.provider.WALLPAPERS" />
                <action android:name="org.kustom.provider.WIDGETS" />
                <action android:name="org.kustom.provider.KOMPONENTS" />
            </intent-filter>
        </provider>
        -->

        <provider
			android:name=".zooper.TemplateProvider"
			android:authorities="${applicationId}.zwprovider"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

	</application>

</manifest>